################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ContaCorrente.Extrato.Processadores/ContaCorrente.Extrato.Processadores/bin/Debug/netcoreapp2.2
